<!-- <div class="LoginPage" *ngIf="submitted">
  <h3>no sub</h3>
</div> -->
<div class="LoginPage" >
  <form class="form" (ngSubmit)="onSubmit(form.value)" #form="ngForm" novalidate>
    <ng-content select="h3"></ng-content>
    <label>
      Email address
      <input type="email" name="email" ngModel>
    </label>
    <label>
      Password
      <input type="password" name="password" ngModel>
    </label>
    <ng-content select="app-auth-remember"></ng-content><tr>
    <ng-content select="button"></ng-content>
    <div *ngIf="showMessage">
      You will be loged for 30 days
    </div>
  </form>
</div>
